header {
  background: #a1a1a1;
  background: linear-gradient(270deg, #a1a1a1 0%, #525252 100%);
  height: 5rem;
  position: fixed;
  z-index: 1100;
  left: 0;
  right: 0;
  top: 0; }

header nav section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav__logo {
  height: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem; }

.nav__login {
  border-radius: 4px;
  height: 2.3rem; }

.btn__lupa, .nav__login {
  border-radius: 18px;
  border: none;
  padding: 0 0.5rem;
  transition: 0.5s; }

.btn__lupa:hover, .nav__login:hover {
  box-shadow: 0px 0px 0px 0.35rem #749ed8; }

.nav__carrito {
  padding: 0.5rem;
  color: black; }

.nav__carrito:hover {
  color: #01377e; }

.carritodesplegable {
  margin-top: 5rem; }

@media only screen and (max-width: 1149px) {
  .hiddentext p {
    visibility: hidden !important; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----------------------------------- I N D E X ------------------------------------------------ */
body {
  background-color: rgba(255, 228, 196, 0.514) !important; }

.sectionprincipal {
  margin-top: 6rem !important; }

.showcase__bienvenida, .showcase__libros, .showcase__banner, .carrousel {
  margin-top: 2rem;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.showcase__libros {
  margin-bottom: 2rem; }

.carousel-inner img {
  height: 25rem;
  width: 17rem !important;
  margin-right: auto;
  margin-left: auto; }

.carousel-inner h5 {
  text-align: left; }

.carousel-inner p {
  text-align: left;
  max-width: 25%; }

.carousel__btn {
  text-align: left; }

.carousel__btn button {
  text-align: left;
  border-radius: 4px;
  padding: 0.3rem;
  border: none;
  background-color: #749ed8;
  color: white;
  text-shadow: 1px 1px 0px black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.46); }

.showcase__banner, .carrousel {
  margin-bottom: 2rem; }

/* -------- S E G U N D O Carrousel -------- */
.carrousel {
  max-width: 120em;
  padding: 2em;
  color: #393939;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #ececec;
  box-shadow: 1em 1em 2em #c9c9c9, -1em -1em 2em #ffffff, inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
  margin-bottom: 10rem;
  display: flex; }

.carrousel h2 {
  margin-bottom: 1rem; }

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #393939;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #ececec;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%); }

.carrousel .img {
  width: 100%;
  max-height: 60vh;
  color: #393939;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #ececec;
  box-shadow: 1em 1em 2em #c9c9c9, -1em -1em 2em #ffffff, inset 0 0 0 transparent, inset 0 0 0 transparent;
  margin-right: 2.5rem; }

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: #393939;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #ececec;
  box-shadow: 0.6em 0.6em 1.2em #c9c9c9, -0.6em -0.6em 1.2em #ffffff, inset 0 0 0 transparent, inset 0 0 0 transparent; }

.carrousel .punto.activo {
  background-color: lightblue; }

.contenedor__img {
  width: calc(100% / 3);
  height: fit-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative; }

.hiddenbtn {
  position: absolute;
  top: 80%;
  right: 10%;
  border: none;
  background-color: rgba(102, 102, 102, 0.74);
  padding: 0.3vw 4vw;
  border-top: solid #5086d3 4px;
  color: #b9e3ff;
  text-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.46);
  font-weight: 700;
  flex-wrap: wrap;
  font-size: 1.2vw;
  display: none; }

.hiddentext {
  position: absolute;
  top: 10%;
  right: 3%;
  max-width: 20vw;
  display: none; }

.hiddentext h6 {
  font-weight: 700;
  font-size: 1.4vw;
  background-color: rgba(255, 255, 255, 0.404); }

.hiddentext p {
  background-color: rgba(255, 255, 255, 0.404); }

.titulo__hp--oculto {
  display: none;
  visibility: hidden; }

.btn_carrito--alerta {
  position: absolute;
  top: 25%;
  right: 0%;
  display: none; }

/* Items Que Aparecen Dentro Del Carrito */
.offcanvas-title {
  font-weight: 700; }

.btn__compra {
  text-align: left;
  border-radius: 4px;
  padding: 0.3rem;
  border: none;
  background-color: #749ed8;
  color: white;
  text-shadow: 1px 1px 0px black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.46);
  align-items: flex-end; }

.btn__compra:hover {
  box-shadow: 0px 0px 10px 0px #f6ff75;
  background-color: #4580d1;
  transition: 0.7s; }

.total__carrito--container {
  margin: 0.5rem !important; }

.total__carrito--container h5 {
  margin: 0;
  align-items: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600; }

.total__carrito {
  margin-bottom: 0;
  font-weight: 600; }

.item__carrito--contenedor, .total__carrito--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(156, 174, 199, 0.589);
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.8rem; }

.item__carrito--imagen {
  border-radius: 50%;
  max-height: 5rem;
  min-width: 4rem; }

.item__carrito--texto {
  padding: 0 2rem; }

.item__carrito--texto h6 {
  margin: auto;
  font-weight: 800;
  font-size: large; }

.item__carrito--texto p {
  margin: auto;
  color: #8b8b8b; }
