header {
  background-color: #aaaaaa;
  height: 5rem; }

header nav section {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav__logo {
  height: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem; }

.nav__login {
  border-radius: 4px;
  height: 2.3rem; }

.btn__lupa, .nav__login {
  border-radius: 18px;
  border: none;
  padding: 0 0.5rem;
  transition: 0.5s; }

.btn__lupa:hover, .nav__login:hover {
  box-shadow: 0px 0px 0px 0.35rem #749ed8; }

.nav__carrito {
  padding: 0.5rem;
  color: black; }

.nav__carrito:hover {
  color: #01377e; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----------------------------------- I N D E X ------------------------------------------------ */
/* .contenedor__password{
    display: flex;
    align-content: flex-start;
    justify-content: end;
} */
body {
  background-color: rgba(255, 228, 196, 0.514) !important; }

.showcase__bienvenida, .showcase__libros, .showcase__banner {
  margin-top: 2rem;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.showcase__libros {
  margin-bottom: 2rem; }

.carousel-inner img {
  height: 25rem;
  width: 17rem !important;
  margin-right: auto;
  margin-left: auto; }

.carousel-inner h5 {
  text-align: left; }

.carousel-inner p {
  text-align: left;
  max-width: 25%; }

.carousel__btn {
  text-align: left; }

.carousel__btn button {
  text-align: left;
  border-radius: 4px;
  padding: 0.3rem;
  border: none;
  background-color: #749ed8;
  color: white;
  text-shadow: 1px 1px 0px black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.46); }

.showcase__banner {
  margin-bottom: 2rem; }
